<!-- <p>home works!</p> -->
<div class="main">
  <h1 class="heading">Hello {{name}} welcome to the popcorn place</h1>
  <div class="topdiv">
    <img src="../../assets/movietime.png" alt="" class="headimg" />
    <h3 class="moviedesc m-5">
      Movies have the magical power of suspending our real-life problems for at
      least the duration of the film. Not only that, but movies can also take us
      to distant worlds, full of fantastic characters and scenarios. So much so
      that sometimes you might forget that those characters are actually just
      people, and the distant world is a film set.
    </h3>
  </div>
  <div class="bottomdiv">
  <h3 class="popcorndesc p-5 m-5">
      The popcorn place is the ultimate destination for you to book your tickets right from where you stay with just one click!
      <!-- <a routerLink="/display" routerLinkActive>Book Your Tickets now!</a> -->
      <button routerLink="/display" routerLinkActive>Book Your Tickets now!</button>
  </h3>
  <!-- <img src="../../assets/Popcorn.gif" alt="" class="popcorn m-5"> -->
  <iframe src="https://giphy.com/embed/MQ2qYsoJqL1Ty" width="700" height="380" frameBorder="0" class="giphy-embed m-3" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/internet-uh-MQ2qYsoJqL1Ty"></a></p>
  </div>
  
</div>
