<h1 class="text-center pt-5 top">Don't be shy , ask us anything!</h1>
<p class="text-center">----------------</p>
<h3 class="text-center p-2 mid">Our experts our availble from MONDAY-SUNDAY : 10:00 AM-7:00 PM</h3>
<div class="container p-5">
    <div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-4">
        <div class="col">
            <!-- creating a card -->
<div class="card h-100 shadow"  >
    <i class="far fa-comment-dots fa-5x text-center i1"></i>
    <div class="card-body">
      <div class="desc">
      <h5 class="card-title text-center prtitle p-2" >Let's have a chat!</h5>
      
      <button href="#" class="btn btn-sm d-block mx-auto btn1"  >Live Chat</button>
    </div>
    </div>
  </div>
        </div>
        <div class="col">
            <!-- creating a card -->
<div class="card h-100 shadow"  >
    <i class="far fa-envelope fa-5x text-center"></i>
    <div class="card-body">
      <div class="desc">
     
      <h5 class="card-title text-center prtitle p-2" >Drop us a Line</h5>
    
      <button href="#" class="btn btn-sm d-block mx-auto btn1"  >
    
        Email</button>
    </div>
    </div>
  </div>
        </div>
        <div class="col">
            <!-- creating a card -->
<div class="card h-100 shadow"  >
    <i class="fas fa-headset fa-5x text-center"></i>
    <div class="card-body">
      <div class="desc">
     
      <h5 class="card-title text-center prtitle p-2" >Call Us</h5>
    
      <button href="#" class="btn btn-sm d-block mx-auto btn1"  >
    
        Call</button>
    </div>
    </div>
  </div>
        </div>
        <div class="col">
            <!-- creating a card -->
<div class="card h-100 shadow"  >
    <i class="fas fa-mobile-alt text-center fa-5x"></i>
    <div class="card-body">
      <div class="desc">
     
      <h5 class="card-title text-center prtitle p-2" >Text Us</h5>
    
      <button href="#" class="btn btn-sm d-block mx-auto btn1">Text</button>
    </div>
    </div>
  </div>
        </div>
    </div>
</div>
 
<div class="footer p-3">
    <form>
        <div class=" form-check ">
            <input type="checkbox" class="form-check-input " id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out for subscribing our monthly NewsLetter</label>
          </div>
    </form>
</div>
