

<h1 class="heading">Your Movie Bookings</h1>

<div class="row m-4">
    <div class="col-md-4 col-sm-6" *ngFor="let data of filteredData">
        <div class="card p-4 m-4 cards">
            <h3 class="card-header">{{data.name}}</h3>
            <h4 class="card-body">Tickets booked: {{data.tickets_available}}</h4>
            <h4 class="card-body">Show time: {{data.show}}</h4>
            <!-- <div class="btn card-footer">
                <button (click)="editPlannedData(plan.id)"  class="mx-sm-3">edit</button>
            <button (click)="deletePlannedData(plan.id)">delete</button>
            </div> -->
        </div>
    </div> 
</div>